<section class="login flex justify-center pt-24  xl:justify-around"">
  <div class=" w-full max-w-xs">
  <form action="/register" method="POST" class="bg-white shadow-md rounded px-5 pt-6 pb-8 mb-4">


    <%- include('../partials/messages.ejs') %>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input name="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        value="<%= typeof name != 'undefined' ? name : '' %>" id="name" type="text" placeholder="Enter your name" />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input name="email"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        value="<%= typeof email != 'undefined' ? email : '' %>" id="email" type="email"
        placeholder="Enter your email" />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input name="password"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        value="<%= typeof password != 'undefined' ? password : '' %>" id="password" type="password"
        placeholder="******************" />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="btn-primary  text-white hover:text-white text-xs font-semibold rounded-full py-2 px-5  focus:outline-none focus:shadow-outline"
        type="submit">
        Register
      </button>
      <a class="inline-block align-baseline font-bold text-sm" href="/login">
        Already have account?
      </a>
    </div>
  </form>
  </div>
</section>